<% provide(:title, "About") %>
<div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
  <div class="max-w-xl sm:mx-auto lg:max-w-2xl">
    <div class="flex flex-col mb-16 sm:text-center sm:mb-0">
      <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
        <h2 class="max-w-lg mb-6 font-sans text-3xl font-bold leading-none tracking-tight text-gray-900 sm:text-4xl md:mx-auto">
          <span class="relative inline-block">
            <svg viewBox="0 0 52 24" fill="currentColor" class="absolute top-0 left-0 z-0 hidden w-32 -mt-8 -ml-20 text-blue-gray-100 lg:w-32 lg:-ml-28 lg:-mt-10 sm:block">
              <defs>
                <pattern id="e77df901-b9d7-4b9b-822e-16b2d410795b" x="0" y="0" width=".135" height=".30">
                  <circle cx="1" cy="1" r=".7"></circle>
                </pattern>
              </defs>
              <rect fill="url(#e77df901-b9d7-4b9b-822e-16b2d410795b)" width="52" height="24"></rect>
            </svg>
            <span class="relative">About</span>
          </span>
        </h2>
        <p class="text-base text-gray-700 md:text-lg">
          The <a class="text-blue-500 hover:underline hover:text-blue-600" href="https://www.railstutorial.org/"><em>Ruby on Rails Tutorial</em></a>, part of the <a class="text-blue-500 hover:underline hover:text-blue-600" href="https://www.learnenough.com/">Learn Enough</a>
          family of tutorials, is a <a class="text-blue-500 hover:underline hover:text-blue-600" href="https://www.railstutorial.org/book">book</a> and <a class="text-blue-500 hover:underline" href="https://screencasts.railstutorial.org/">screencast series</a>
          to teach web development with <a class="text-blue-500 hover:underline" href="https://rubyonrails.org/">Ruby on Rails</a>.
          This is the sample app for the tutorial.
        </p>
      </div>
    </div>
  </div>
</div>